@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,700;1,800&display=swap");
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #fff;
  color: #414042;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

::-moz-selection {
  color: white;
  background: #ff7675;
}

::selection {
  color: white;
  background: #ff7675;
}

::-webkit-selection {
  color: white;
  background: #ff7675;
}

::-moz-selection {
  color: white;
  background: #ff7675;
}

.scrolltotop {
  width: 40px;
  height: 40px;
  border-radius: 20px 20px 0 0;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  text-align: center;
  padding-top: 8px;
  font-size: 22px;
  color: #ffffff;
  position: fixed;
  right: 5px;
  bottom: 5px;
  display: none;
  transition: 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
}

.scrolltotop:hover {
  background: #000;
  color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

a.link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  background-color: #2A7AB0;
  border-radius: 6px;
  display: inline-block;
  padding: 10px 35px;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
}

/* -- hero area start -- */
#hero {
  background-color: #F0F7FD;
  padding: 45px 0px;
}

.logo a {
  display: inline-block;
}

.logo img {
  width: 235px;
}

.hero-left-text {
  margin-top: 70px;
}

.hero-left-text h2 {
  font-size: 36px;
  margin-bottom: 0;
}

.hero-left-text p {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.9;
  margin: 20px 0px;
  padding-right: 80px;
}

.hero-right img {
  display: block;
  width: 100%;
  margin-top: 50px;
}

.hero-left-text a:hover {
  opacity: .7;
}

/* -- hero area end -- */
/* -- support area start -- */
#supports {
  background-image: url(../img/key.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding: 120px 0px;
}

#supports .support-wrapper {
  padding-left: 100px;
  padding-right: 100px;
}

.support-heading h2 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 0;
}

.support-left,
.support-right {
  margin-top: 40px;
}

.support-left p {
  margin-bottom: 0;
  font-size: 16px;
  color: #fff;
  padding-right: 90px;
}

.support-right p {
  margin-bottom: 0;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}

.support-right ul li {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin-top: 10px;
}

.support-right ul li span {
  display: inline-block;
  width: 25px;
  font-size: 15px;
  font-weight: normal;
}

/* -- support area end -- */
/* -- use area start -- */
.use-wrapper {
  padding-left: 100px;
  padding-right: 100px;
}

.use-heading h2 {
  font-size: 36px;
  margin-bottom: 0;
}

.use-block-left {
  margin-top: 50px;
}

.use-block-left p {
  margin-bottom: 0;
  line-height: 1.9;
}

.use-block-left ul li {
  font-size: 16px;
  margin-top: 10px;
}

.use-block-left ul li span {
  display: inline-block;
  color: #2A7AB0;
  width: 25px;
}

.use-block-left a {
  margin-top: 50px;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
}

.use-block-left a:hover {
  opacity: .7;
}

.use-block-right img {
  display: block;
  width: 100%;
}

.use-block-right {
  margin-top: 50px;
}

#use {
  padding-top: 80px;
  padding-bottom: 100px;
}

/* -- use area end -- */
/* -- student area end -- */
#student {
  padding-bottom: 100px;
}

.student-one {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.2);
}

.student-one .student-one-img img {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.student-one .student-one-content {
  padding-left: 20px;
  padding-right: 20px;
  height: 300px;
}

.student-one .student-one-content h4 {
  font-size: 22px;
  color: #40806A;
  margin: 0;
}

.student-one .student-one-content p {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 20px;
  padding-right: 55px;
}

/* -- student area end -- */
/* -- connect area start -- */
#connect {
  background-image: url(../img/conn.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding-top: 150px;
  padding-bottom: 80px;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.connect-heading h2 {
  font-size: 36px;
  margin-bottom: 0;
}

.connect-block {
  margin-top: 60px;
}

.connect-block-left img {
  display: block;
  width: 100%;
}

.connect-block-right {
  padding-left: 60px;
}

.connect-block-right p {
  margin-bottom: 0;
}

.connect-block-right p a {
  display: inline-block;
  font-size: 16px;
  color: #2A7AB0;
  font-weight: 600;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.connect-block-right p a:hover {
  opacity: .7;
}

/* -- connect area end -- */
/* -- faq area end -- */
#faq {
  padding: 80px 0px;
}

.faq-heading {
  margin-bottom: 40px;
}

.faq-heading h2 {
  font-size: 36px;
  margin-bottom: 0;
}

.faq-block-left-one {
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  padding: 15px;
  margin-top: 15px;
}

.faq-block-left-one-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.faq-block-left-one-wrapper .faq-block-left-one-left p {
  margin-bottom: 0;
  color: #2A7AB0;
  font-size: 16px;
  font-weight: 600;
  width: 85%;
  cursor: pointer;
}

.faq-block-left-one-wrapper .faq-block-left-one-right span {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-color: #2A7AB0;
  border-radius: 50%;
  position: relative;
}

.faq-block-left-one-wrapper .faq-block-left-one-right i {
  display: inline-block;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 14px;
}

.faq-block-content {
  display: none;
}

.faq-block-content p {
  margin-bottom: 0;
  margin-top: 15px;
}

/* -- faq area end -- */
/* -- form area start -- */
#form {
  background-color: #40806A;
  padding: 80px 0px;
}

.form-wrapper {
  padding-left: 100px;
  padding-right: 100px;
}

.form-heading h2 {
  margin: 0;
  font-size: 36px;
  color: #fff;
  margin-bottom: 40px;
}

.form-left-input {
  margin-bottom: 20px;
}

.form-left-input label {
  display: block;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
}

.form-left-input label span {
  display: inline-block;
  color: #FB0101;
}

.form-left-input input {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 0;
  outline: none;
  padding: 8px 15px;
}

.form-left {
  padding-right: 25px;
}

.form-left-right {
  padding-left: 25px;
  padding-right: 0;
}

.form-button button {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 8px 35px;
  font-size: 15px;
  font-weight: 600;
  background-color: transparent;
  color: #fff;
  margin-top: 30px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.form-button button:hover {
  background-color: #fff;
  color: #40806A;
}

/* -- form area end -- */
/* -- footer area start -- */
footer {
  background-color: #414042;
  padding: 28px 0px;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-left a img {
  display: inline-block;
  width: 210px;
}

.footer-right p {
  margin-bottom: 0;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}

/* -- footer area end -- */
